/* projetos */
body{
    background-color: #121212;
    color: #fff;
}

th, td{
    color: #fff;
    height: fit-content;
}

p{
    margin: auto;
    font-size: small;
}

i{
    background: none;
    color: #121212  ;
}

img{
    margin: 15px;
    position: relative;
    left: 0%;
    margin-left: 5%;
}

.btn{
    background-color: #00ACC0;
    border-color: #02A9B0;
    color: #121212;
}

.btn:hover{
    color: #121212;
}

.btn:disabled{
    background-color: #363636;
    border-color: #02A9B0;
    color: #fff;
}

.titulo{
    margin-left: 35%;
    padding-top: 25px;
}

.tabela{
    margin: auto;
    width: 90%;
    margin-bottom: 5%;
}

.tabela__head{
    text-align: center;
}

.centralizado{
    justify-content: center;
}

.tabela__dados--botoes{
    display: inline-flex;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    margin-left: 7px;
}

.dados_lista{
    margin-top: 25px;
}

.topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    margin-left: 2.5%;
}

.painel{
    margin: 15px;
    margin-left: 2.5%;
}

.painel-status{
    margin: 15px;
    margin-left: 2.5%;
}

.filtro-status{
    display: inline-flex;
}

.escolher-painel{
    margin-right: 15px;
    width: 100%;
    display: flex;
}

.select-func{
    margin-right: 15px;
}

.select-painel{
    margin-right: 10px;
}

.escolher-status{
    margin-right: 15px;
    width: 100%;
    display: flex;
}

.filtros{
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}

.select-status{
    margin-right: 10px;
}

.div-status{
    margin-right: 15px;
}

.search-and-add{
    display: flex;
    text-align: right;
    margin-right: 3%;
    padding-top: 10px;
    padding-bottom: none;
}

.search-and-add__input{
    margin-right: 50px;
}

a:link, a:visited{
    text-decoration: none;
    color: white;
}

.add_task, .add_group{
    font-size: large;
    margin-right: 5px;
}

.add_group{
    width: 130px;
}

.add_task{
    width: 95px;
}

.add_task:hover, .add_group:hover{
    background-color: #F49F0A !important;
    color: #121212 !important;
}

.search-and-add__button:hover{
    background-color: #F49F0A !important;
    color: #121212 !important;
}


.numero_projeto + .cliente + .unidade + .valor + .prazo + .botoes{
    width: 10%;
    color: red;
}

.nome_projeto + .obs{
    width: 20%
}

/*editar e formulario*/
.quadro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filtro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.filtro-div{
    width: 500px;
}

.quadro-div{
    width: 500px;
}

.salvar{
    text-align: center;
}

/*mostra*/
.view{
    width: 65%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    height: 550px;
}

#notas{
    display: block !important;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.solucao-chamado, .conteudo-chamado{
    display: block !important;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.view_conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 5px;
    font-size: x-large;
}

.view_conteudo--botao{
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
    padding: 10%;
}

.tarefas{
    width: 115px;
    height: 75px;
}

.itens_lista{
    margin-bottom: 25px;
    padding-top: 5px;
}

.contorno{
    border: #02A9B0 solid 2px;
    border-radius: 10px;
    border-bottom-width: 5px;
    margin-top: 15px;
    background-color: #363636;
    width: fit-content;
    padding: 50px;
}

.info-projeto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    margin:auto;
}

.timestamp{
    font-size: 12px;
    display: inline-block;
}

.usuario{
    margin-right: 5px;
    display: inline-block;
}

.controle{
    display: flex;
    vertical-align: middle;
}

.liberar{
    display:flex;
    align-items: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.designar{
    display:flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 100%;
}

.descricao{
    display: inline-block;
    width: 30%;
}

.interacao{
    display: inline-block;
    width:  30%;
}

.submit{
    display: inline-block;
    width:  30%;
}

.btn-liberar{
    height: 100px;
    width: 200px;
    font-size: 35px;
}
.btn-download{
    height: 100px;
    width: 250px;
    font-size: 35px;
}

.icone-download{
    padding-right: 5px;
}

.btn-download:hover{
    color: #000 !important;
}

.data-vermelha{
    color: #ff0000;
}

.data-laranja{
    color: #f4662d;
}

.data-amarela{
    color:#ecbe13;
}

.data-verde{
    color: #008000;
}

/*index*/
.navbar__div__link{
    color:white;
    font-size: 30px;
}

.navbar__div{
    height: 100px;
}

.navbar__div--menu{
    width: auto;
    position: absolute;
    right: 5%;
}

.navbar__div--img{
    margin-top: 5px;
}

/*index tarefas*/
.botao{
    display: inline-block;
}

.funcionario{
    width: 14%;
}

.tarefa{
    width: 21%;
    text-align: center;
}

.inicio +.termino+.envio{
    width: 13%;
}

.notas{
    width: 26%;
}

.add{
    height: 40px;
    margin-top: 20px;
    margin-right: 40px;
}

.info-tarefa{
    display: inline-block;

}

/*conjunto tarefas*/
.grupo-funcionarios{
    background-color: #212529;
    border: solid 1px #fff;
    border-radius: 5px;
    padding: 15px;
}

.funcionarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    margin: auto;
}

.adiciona-conjunto{
    margin-top: 25px;
}



/*funcionarios*/
.info-tarefa--nome{
    text-align: left;
    width: 80%;
}

.info-tarefa--botao{
    padding-left: 0%;
    width: 20%;
    float: right;
}

.nome-botao{
    display: flex;
    justify-content: center;

}

.voltar{
    background: #121212;
    font-size: x-large;
    margin-left: 3%;
    margin-top: 15px;
    color: #ffffff;
}

.voltar-icone{
    color: #ffffff;
}

.voltar-tarefas{
    background: #121212;
    font-size: x-large;
    margin-bottom: 15px;
    margin-right: 15px;
    color: #ffffff;
}


.voltar-funcionario{
    background: #121212;
    font-size: x-large;
    margin-left: 2.5%;
    margin-bottom: 15px;
    color: #ffffff;
}

.voltar-projeto{
    background: #121212;
    font-size: x-large;
    margin-left: 6.25%;
    margin-top: 15px;
    color: #ffffff;
}

.voltar:hover, .voltar-funcionario:hover, .voltar-tarefas:hover, .voltar-projeto{
    color:white !important;
}

.alerta{
    background-color: #f4662d;
}

.acompanhamento{
    display: inline-flex;
    justify-content: space-between;
    padding-right: 1.75%;
    padding-left: 1.75%;
    width: 100%;
}

.pra_fazer, .fazendo, .feito{
    width: 30%;
}

.tempo_total{
    float: right;
}


.btn-close-white{
    color: white;
}

.btn-menu{
    background-color: #212529 !important;
    border-color: #212529 !important;
}

.btn-menu:hover{
    background-color: #212529 !important;
    border-color: #00ACC0 !important;
}

.icone-menu{
    color: #fff !important;
    font-size: 45px;
}

.icone-logout{
    color: #fff !important;
    font-size: 25px;
}


.hist-notificacao{
    height: 65%;
    background-color: #121212;
    border: 1px solid #6c757d;
    padding: 8px;
    margin-top: 50px;
    overflow-y:auto;
}

.rodape{
    background-color: #161616;
    border-top: 1px solid #6c757d;
    height: 6%;
}

.rodape_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%;
}

.accordion-body{
    background-color: #212529;
    border-radius: none;
}

.separador{
    width: 94%;
    height: 1px;
    margin: 2px auto;
    background-color: #343a40;
}

.notificacao-lida{
    padding: 4px;
    height: 16%;
}

.notificacao-nao-lida{
    padding: 4px;
    background-color: #343a40;
    height: 16%;
}

/* Create a custom checkbox */
.etapa{
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 34px;
    background-color: #eee;
    border-radius: 17px;
    z-index: -11;
}

.info-etapa{
    display: flex;
    flex-direction: row;
    width: 1320px;
    justify-content: space-around;
    height: 34px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    z-index: -11;
}

.progress-form{
    z-index: 11;
}

.progress-button{
    text-decoration: none;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    z-index: 11;
}

.progress-button-checked{
    background-color: #00ACC0;
}

.legenda{
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: larger;
    margin-bottom: 35px;
}

.legenda label{
    width: 102px;
    text-align: center;
}
.filtro_e_combinacao{
    display: flex;
    justify-content: space-between;
    padding-right: 66px;
    flex-wrap: nowrap;
}

.inicio-fit, .desc-fit, .media-fit{
    font-size: large;
    padding: 15px;
}

.div-gravar-cabos{
    /* border: solid 1px yellow; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.form-gravar-cabos{
    /* border: solid 1px blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
/* Ocultar o input file original */
input[type="file"] {
  display: none;
}

/* Estilizar o botão personalizado */
.custom-file-button {
    background-color: #00aac0;
    /* padding: 8px 12px;
    border-radius: 4px; */
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

/* Estilizar o botão personalizado */
.custom-file-button {
    background-color: #00aac0;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.custom-file-button:hover {
    background-color: #00aac0ad !important;
    color: #000 !important;
}

/* Estilizar o texto do nome do arquivo */
.custom-file-name {
    margin-left: 10px;
}

/* Estilizar o ícone do botão */
.custom-file-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

.div-btn-gravar-cabos{
    /* border: solid 1px red; */
    margin-left: 30px;
    margin-right: 10px;
}

.btn-gravar-cabos{
    width: fit-content;
    height: fit-content;
}

.btn-gravar-cabos:hover{
    background-color: #00aac0ad !important;
    color: #121212 !important;
}

.collapsedRow{
    border-bottom: solid 1.5px #343a40;
}

.collapsedRow_content{
    height: 150px;
    width: 25%;
    color: #fff;
    /* border: solid 1px red ; */
}

.collapsedRow_content_buttons{
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 25%;
    color: #fff;
    /* border: solid 1px red ; */
}

.collapsedRow_div{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #fff;
}
